@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PT Sans';
  src: url('./fonts/PTSans-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'PT Sans';
  src: url('./fonts/PTSans-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'PT Serif';
  src: url('./fonts/PTSerif-Bold.ttf') format('trueType');
  font-style: normal;
  font-weight: 700;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes scroll {
  to {
    translate: calc(-4 * 15rem);
  }
}

.brands-list {
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 15rem;
  animation: scroll 10s linear infinite;
  justify-items: stretch;
}

@keyframes grow-rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.2);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.grow-rotate {
  animation: grow-rotate 5s linear infinite;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}